name: Flutter Build

on:
  workflow_dispatch:
    inputs:
      platform:
        description: '构建平台'
        default: all
        type: choice
        options:
          - android
          - ios
          - all

jobs:
  build-android:
    name: android main on linux
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: set up adopt jdk 17
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: prerequisites
        run: |
          rm -rf ${ANDROID_HOME}/cmake
          ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --install "cmake;3.22.1"
      - name:
        run: sudo apt-get install nasm
      - name: set up android ndk
        run: |
          curl -s "https://dl.google.com/android/repository/android-ndk-r27d-linux.zip" -o ndk.zip
          unzip -q -o ndk.zip -d .ndk
          echo "ANDROID_NDK_ROOT=$PWD/.ndk/$(ls .ndk)" >> $GITHUB_ENV
      - name: run the build script
        run: |
          ./android.sh \
            --enable-gpl \
            --enable-libvidstab --enable-x264 --enable-xvidcore \
            --enable-android-media-codec \
            --enable-android-zlib \
            --disable-x86
      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: aar
          path: prebuilt/bundle-android-aar/ffmpeg-kit/ffmpeg-kit.aar
          if-no-files-found: error
      - name: print build logs
        if: ${{ always() }}
        run: cat build.log
      - name: print ffbuild logs
        if: ${{ failure() }}
        run: '[[ -f ./src/ffmpeg/ffbuild/config.log ]] && tail -50 ./src/ffmpeg/ffbuild/config.log'
  build-ios:
    name: ios main on sonoma
    runs-on: macos-15
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v4
      - name: prerequisites
        run: brew install autoconf automake libtool pkg-config curl git nasm
      - name: set up cmake
        uses: lukka/get-cmake@v4.2.0
        with:
          cmakeVersion: 3.22.1
      - name: set up xcode
        run: echo "export DEVELOPER_DIR=/Applications/Xcode_26.1.app/Contents/Developer" > ~/.xcode.for.ffmpeg.kit.sh
      - name: run the build script
        run: |
          ./ios.sh --xcframework \
            --enable-gpl \
            --enable-libvidstab --enable-x264 --enable-xvidcore \
            --enable-ios-audiotoolbox \
            --enable-ios-avfoundation \
            --enable-ios-bzip2 \
            --enable-ios-libiconv \
            --enable-ios-videotoolbox \
            --enable-ios-zlib \
            --disable-arm64-mac-catalyst \
            --disable-x86-64-mac-catalyst \
            --disable-arm64e
      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: framework
          path: prebuilt/bundle-apple-xcframework-ios
          if-no-files-found: error
      - name: print build logs
        if: ${{ always() }}
        run: cat build.log
      - name: print ffbuild logs
        if: ${{ failure() }}
        run: '[[ -f ./src/ffmpeg/ffbuild/config.log ]] && tail -50 ./src/ffmpeg/ffbuild/config.log'
  publish:
    name: publish to pub
    runs-on: ubuntu-22.04
    needs: [ build-android, build-ios]
    steps:
      - uses: actions/checkout@v4
      - name: Download aar
        id: aar
        uses: actions/download-artifact@v6
        with:
          name: aar
          path: flutter/flutter/android/libs
      - name: Download ios frameworks
        id: framework
        uses: actions/download-artifact@v6
        with:
          name: framework
          path: flutter/flutter/ios/Frameworks
      - run: |
          echo "${{ steps.aar.outputs.download-path }}"
          echo "${{ steps.framework.outputs.download-path }}"
          tree flutter
